.course-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .course-card .card-body {
    padding: 1.5rem;
  }
  
  .course-card .card-title {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .course-card .lecturer-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .course-card .lecturer-photo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .course-card .lecturer-name {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .course-card .lecturer-title {
    color: #6c757d;
    font-size: 0.875rem;
  }
  
  .course-card .btn {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .login-container {
    max-width: 450px;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 2rem;
  }
  
  .login-container h4 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    border-color: #dee2e6;
    border-radius: 0.375rem;
  }
  
  .form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  .btn-login {
    width: 200;
  }
  
  .btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
  
  .register-link {
    color: #0d6efd;
    text-decoration: none;
  }
  
  .register-link:hover {
    color: #0a58ca;
  }

  .btn-search {
    background-color: white;
    color: #0d6efd;
    border-color: #0d6efd;
  }

  .btn-search:hover {
    background-color: #0d6efd;
    color: white;
    
  }

  body {
    font-family: 'Poppins', sans-serif;
}